.manage-course-container {
  display: flex;
  width: 100%;
  padding: 3.2rem 2.4rem 6.4rem 2.4rem;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
}


.side-navbar {
  padding: 3.2rem 2.4rem 3.2rem 0;
  position: relative;
}

.manage-course-content {
  flex: 1;
  min-width: 1px;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
}

.modal-content {
  border: none;
  border-radius: 0px;
}

.input-delete::-webkit-input-placeholder {
  font-style: italic;
}

.input-delete:-ms-input-placeholder {
  font-style: italic;
}

.input-delete:-moz-placeholder {
  font-style: italic;
}

.input-delete::-moz-placeholder {
  font-style: italic;
}

@media(max-width:900px) {
  .manage-course-container {
    flex-direction: column;
  }

  .side-navbar {
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  }
}

@media(max-width:500px) {
  .manage-course-container {
    padding: 1.6rem 1.2rem 3.2rem 1.2rem;
  }
}