    .parent-div {
        color: aliceblue;
        margin-top: 0%;
        margin-bottom: 2%;
        background-color: rgb(47, 47, 50);
        padding-top: 2rem;
        padding-left:10%;
        padding-right:10%;
        padding-bottom: 2rem;
        
        /* background-color: blue; */
    }
    @media(max-width:600px)
    {
        .parent-div{
            text-align:center;
        }
        
    }
    .course-head {
        padding: top 5px;
        
        /* background-color: rgba(0, 0, 0, 0.63); */
    }
    
    .child-div
    {
        width:60%;
    }
    
    