.main-content {
    padding-top: 2rem;
    margin-left: 8rem;
    max-width: 45rem;
    margin-right: 4.8rem;
}

.course-view-container {
    position: relative;
}

.desc {
    margin-top: 2rem;

}

.desc-content {
    margin-top: 3rem;
}

.instructor-head {
    margin-top:2rem;
    padding-top:2rem;

    border-top: 1px solid #d1d7dc;
    border-bottom: 1px solid #d1d7dc;
    padding-bottom: 2rem;
}

.block-lesson {
    border: 1px solid #d1d7dc;
}

.lesson-head {
    margin-left: 2rem;
    padding-bottom: 2%;
    text-decoration: underline;
    color: rgb(52, 47, 47);
    font-weight: bold;
}

.lesson-items {
    padding-left: 5%;
    padding-bottom: 3%;
}

.requirement {
    margin-top: 4rem;
    padding-top:2rem;
    border-top: 1px solid #d1d7dc;
    border-bottom: 1px solid #d1d7dc;
}

.require {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.course-content-head {
    padding-bottom: 2rem;
}

.course-content {
    border: 1px solid #d1d7dc;
}

.lesson-content {
    min-height: 5rem;
    border-bottom: 1px solid #d1d7dc;
}

.lesson-content:nth-child(even) {
    background-color: #f5fcff;
}

.lesson-content:nth-child(odd) {
    background-color: #eef6ff;
}